<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Askbootstrap">
  <meta name="author" content="Askbootstrap">
  <title>ShadowNet - Video Streaming Service</title>
  <link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
  
</head>


<body id="page-top">
<header class="text-gray-600 body-font bg-indigo-500">
  <div class="container mx-auto flex flex-wrap  flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900  md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl text-white">DC</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a href="/"  class="mr-5 text-white">Home</a>
      <a href="/courses"  class="mr-5 text-white">Courses</a>
      <a href="/lecturers"  class="mr-5 text-white">Our Lecturers</a>
      <a href="/support"  class="mr-5 text-white">Support</a>
    </nav>

   <a href="/login" <button class="inline-flex items-center bg-black border-0 py-1 px-3 focus:outline-none hover:bg-none rounded text-base  md:mt-0 text-white">Lecturer Login
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    </a>
  </div>
</header>
{{!-- <div>
{{#each videos}}
<div class="col-xl-3 col-sm-6 mb-3">
  <div class="video-card">
    <div class="video-card-image">
      <a class="play-icon" href="/videos/{{_id}}"><i class="fas fa-play-circle"></i></a>
      <a href="/videos/{{_id}}"><img class="img-fluid" src="/{{thumbnail}}" alt=""></a>
      <div class="time">3:50</div>
    </div>
    <div class="video-card-body">
      <div class="video-title">
        <a href="/videos/{{_id}}">{{title}}</a>
      </div>
      <div class="video-page text-success">
        {{status}} <a title="" data-placement="top" data-toggle="tooltip" href="#"
          data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
      </div>
      <div class="video-view">
        &nbsp;<i class="fas fa-calendar-alt"></i> {{createdAt}}
      </div>
    </div>
  </div>
</div>
{{else}}
<p>nope ...wow</p>
{{/each}}


</div>

 --}}

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
    {{#each videos}}

    <div class="flex">
      <div class="pt-1 mr-6 text-center">
        <div class="px-0 border-b border-gray-400">
          <p class="text-lg text-gray-600">{{lecture_day}}</p>
        </div>
        <div class="px-2"><p class="text-lg text-gray-600 font-bold">{{lecture_month}}</p></div>
      </div>
      <div>
        <div class="mb-2">
          <a  class="text-xs font-semibold tracking-wide uppercase transition-colors duration-200 text-gray-600 hover:text-deep-purple-800" aria-label="Category" title="Delevopment">{{lecture_category}}</a>
        </div>
        <div class="mb-2">
          <a href="/videos/{{_id}}" aria-label="Article" class="inline-block text-2xl font-bold leading-5  transition-colors duration-200 hover:text-deep-purple-accent-400">{{title}}</a> 
        </div>
        <p class="text-black">
         {{preview}}
        </p>
        <div class="flex items-center">
          <a href="/" aria-label="Author" title="Author" class="mr-3">
            <img src={{image}} alt="avatar" class="object-cover w-10 h-10 rounded-full shadow-sm" />
          </a>
          <div>
            <a href="/" aria-label="Author" title="Author" class="font-semibold text-gray-600 transition-colors duration-200 hover:text-deep-purple-accent-400">wisdom</a>
            <p class="text-sm font-medium leading-4 text-gray-600">{{lecturer_role}}</p>
          </div>
        </div>
      </div>
    </div>

  {{else}}
<p>nope ...wow</p>
{{/each}}

  </div>
</div>

</body>


</html>